MYSQL_URL=jdbc:mysql://localhost:3306/skillport?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
MYSQL_USER=skillport
MYSQL_PASSWORD=skillport
SKILLPORT_GATEWAY_KEY=replace-with-at-least-32-random-characters
SKILLPORT_STORAGE_ROOT=./data/skills
SKILLPORT_API_PUBLIC_URL=http://localhost:8080
SKILLPORT_NETTY_PUBLIC_URL=http://localhost:9091
SKILLPORT_NETTY_PORT=9091
